@import '/src/scss/variables';
@import '/src/scss/mixins';

.gallery {
  &__container {
    position: relative;
  }
  &__image {
    padding: 10px 20px;
    margin-bottom: 145px;
    width: 100%;
    object-fit: cover;
  }
  &__content-wrapper {
    position: absolute;
    bottom: -95px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: $white;
    width: 78%;
    max-width: 480px;
    padding: 20px 40px 0px;
  }
  &__name {
    font-size: 2.4rem;
    font-weight: $weight-bold;
    line-height: 29px;
  }
  &__artist-name {
    font-size: 1.5rem;
    color: $grey-dark;
  }
  &__artist-image {
    width: 64px;
    height: 64px;
    margin-left: -20px;
  }
  &__description-container {
    position: relative;
    padding-inline: 20px;
  }
  &__year {
    position: absolute;
    top: -65px;
    right: 20px;
    font-size: 100px;
    font-weight: $weight-bold;
    line-height: 100px;
    color: $grey-light;
  }
  &__description {
    position: relative;
    z-index: 999;
    font-size: 1.4rem;
    font-weight: $weight-bold;
    line-height: 28px;
    color: $grey-dark;
  }
  &__source {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: $weight-bold;
    letter-spacing: 1.93px;
    text-decoration: underline;
    color: $grey-dark;
    display: block;
    margin: 70px 20px 70px 0;
  }
}

.footer {
  &__progress-bg {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: $grey-medium;
  }
  &__progress-overlay {
    position: absolute;
    z-index: 999;
    width: 50px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: $black;
    transition: all 0.75s ease-in-out;
  }
  &__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 1.4rem;
    font-weight: $weight-bold;
    color: $black;
  }
  &__artist {
    font-size: 1rem;
    color: $grey-dark;
  }
  &__btn-wrapper {
    display: flex;
    gap: 30px;

    > button {
      background-color: transparent;
      border: 0;
      width: 16px;
      height: auto;
    }
  }
}

@media only screen and (min-width: 768px) {
  .gallery {
    &__container {
    }
    &__image {
      width: 75%;
      padding: 20px 40px;
    }
    &__content-wrapper {
      bottom: initial;
      top: 20px;
      right: 40px;
      gap: 20px;
      padding: 0;
      height: 45%;
      width: 57%;
      min-width: 57%;
      justify-content: center;
      padding: 0 60px 60px 60px;
    }
    &__name {
      font-size: 5.6rem;
      line-height: 64px;
    }
    &__artist-name {
      font-size: 1.5rem;
    }
    &__artist-image {
      position: absolute;
      right: 32px;
      bottom: -128px;
      width: 128px;
      height: 128px;
      margin-left: initial;
    }
    &__description-container {
      padding-inline: 40px;
      padding-inline: 155px;
      margin: 0 auto;
    }
    &__year {
      font-size: 20rem;
      line-height: 150px;
      right: initial;
      top: -75px;
      left: 40px;
    }
  }

  .footer {
    &__progress-bg {
      height: 3px;
    }
    &__progress-overlay {
      height: 3px;
    }
    &__nav-container {
      padding: 40px;
    }
    &__title {
      font-size: 1.8rem;
    }
    &__artist {
      font-size: 1.3rem;
    }
    &__btn-wrapper {
      > button {
        width: 25px;
      }
    }
  }
}
