@import '/src/scss/variables';
@import '/src/scss/mixins';

address {
  font-style: normal;
}

.main {
  margin-bottom: 10px;

  &__work-container {
    padding: 10px 20px;
  }
  &__link-overlay {
    position: relative;
    cursor: pointer;

    & > img {
      width: 100%;
      min-height: 285px;
      object-fit: cover;
    }
  }
  &__overlay {
    position: absolute;
    z-index: 998;
    bottom: 0;
    height: 140px;
    width: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  &__work-caption {
    position: absolute;
    z-index: 999;
    bottom: 25px;
    left: 25px;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > span {
      font-size: 2.4rem;
      font-weight: $weight-bold;
      color: $white;
    }
    & > address {
      font-size: 1.3rem;
      color: rgba($white, 0.75);
    }
  }
}

@media only screen and (min-width: 768px) {
  .main {
    column-count: 2;
    column-gap: 35px;
    margin-bottom: 17.5px;
    margin-inline: 35px;

    &__work-container {
      padding: 0;
      padding-block: 17.5px;
    }
    &__link-overlay {
      & > img {
        min-height: initial;
      }
    }
    &__work-caption {
      gap: 5px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .main {
    column-count: 4;
    margin-bottom: 35px;

    &__work-container {
      padding-block: 0;
      padding-bottom: 0;
      margin-bottom: 35px;
    }
  }
}
