@import '/src/scss/variables';
@import '/src/scss/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba($grey-medium, 1);

  &__logo {
    width: 113px;
    height: auto;
  }
  &__btn-slideshow {
    font-size: 0.9rem;
    font-weight: $weight-bold;
    letter-spacing: 1.93px;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 17.5px;
    padding: 25px 35px;

    &__btn-slideshow {
      font-size: 1.2rem;
    }
  } 
}

@media only screen and (min-width: 1440px) {
  .header {
    margin-bottom: 35px;
  }
}