@import '/src/scss/variables';
@import '/src/scss/mixins';

a {
  text-decoration: none;
  color: $grey-dark;
}

body {
  font-family: $font;
  font-weight: $weight-reg;
}

// @media only screen and (min-width: 1440px) {
//   body {
//     max-width: 1440px;
//     margin: 0 auto;
//   }
// }
