// palette
$black: #000;
$grey-dark: #7d7d7d;
$grey-medium: #e5e5e5;
$grey-light: #f3f3f3;
$white: #fff;

// typography
$font: 'Libre Baskerville', serif;

// weight
$weight-reg: 400;
$weight-bold: 700;

// font-size
$size-heading-detail-s: 2.4rem;
$size-heading-detail-m: 5.6rem;
$size-heading-detail-l: 5.6rem;
$size-pagination-head-s: 1.4rem;
$size-pagination-head-m: 1.8rem;
$size-pagination-head-l: 1.8rem;
$size-pagination-subhead-s: 1rem;
$size-pagination-subhead-m: 1.3rem;
$size-pagination-subhead-l: 1.3rem;
$size-body-detail: 1.4rem;
$size-subhead-detail: 1.5rem;
$size-heading-home: 2.4rem;
$size-source: 0.9rem;
$size-slideshow: 1.2rem;

// line height
$lh-heading: 29px;
$lh-body: 28px;

// letter spacing
$ls-source: 1.93px;
$ls-slideshow: 2.57px;
