// palette
$black: #000;
$grey-dark: #7d7d7d;
$grey-medium: #e5e5e5;
$grey-light: #f3f3f3;
$white: #fff;

// typography
$font: 'Libre Baskerville', serif;

// weight
$weight-reg: 400;
$weight-bold: 700;
